<div class="pagina animacion">
  <div class="pagina">
    <h2 class="titulo-pagina ">Sobre Nosotros</h2>
    <p>{{ datosSobreNosotros?.descripcion }}</p>
    <div class="contenedor-galeria">
      <div class="galeria">
        <h2 class="titulo-pagina">Galería</h2>
        <img
          [src]="imagenSeleccionada()"
          alt="Imagen seleccionada"
          *ngIf="imagenSeleccionada()"
        />
      </div>
      <div class="conjunto-imagenes">
        @for (imagen of datosSobreNosotros?.imagenes; track imagen.idImagen) {
        <img
          [src]="imagen.url"
          alt="Imagen de galería"
          (click)="seleccionarImagen(imagen.url)"
        />
        }
      </div>
    </div>
  </div>
</div>
