<div class="pagina animacion">
  <h2>sobrenosotros</h2>
  <p>
    Bienvenidos a Hotel JAHE, un refugio de confort y elegancia diseñado para
    brindarte una experiencia inolvidable. Ubicado en un entorno privilegiado,
    nuestro hotel combina la calidez de la hospitalidad con un servicio
    excepcional para hacer de tu estancia algo único. En JAHE, nos apasiona
    ofrecer a nuestros huéspedes un ambiente acogedor, habitaciones
    cuidadosamente diseñadas y una atención personalizada que garantiza el
    máximo bienestar. Ya sea que nos visites por negocios o placer, nuestro
    compromiso es superar tus expectativas y hacer que cada momento sea
    especial. Disfruta de nuestras instalaciones de primer nivel, gastronomía
    exquisita y un equipo dedicado a hacer de tu estancia una experiencia
    inigualable. En JAHE, cada detalle cuenta y tu comodidad es nuestra
    prioridad.
  </p>
  <div class="contenedor-galeria">
    <div class="galeria">
        <img [src]="" alt="">
    </div>
    <div class="conjunto-imagenes">

    </div>
  </div>
</div>
