

<div class="sidebar">

    <a mat-button routerLink="inicio" class="nav__link" routerLinkActive="active">
        <mat-icon class="nav__icon">home</mat-icon>
        <span class="nav__name">Inicio</span>
    </a>

    <a mat-button routerLink="sobre-nosotros" class="nav__link" routerLinkActive="active">
        <mat-icon class="nav__icon">info</mat-icon>
        <span class="nav__name">Sobre nosotros</span>
    </a>

    <a mat-button routerLink="facilidades" class="nav__link" routerLinkActive="active">
        <mat-icon class="nav__icon">build</mat-icon>
        <span class="nav__name">Facilidades</span>
    </a>

    <a mat-button routerLink="como-llegar" class="nav__link" routerLinkActive="active">
        <mat-icon class="nav__icon">map</mat-icon>
        <span class="nav__name">Cómo llegar?</span>
    </a>

    <a mat-button routerLink="tarifas" class="nav__link" routerLinkActive="active">
        <mat-icon class="nav__icon">attach_money</mat-icon>
        <span class="nav__name">Tarifas</span>
    </a>

    <a mat-button routerLink="reservar-en-linea" class="nav__link" routerLinkActive="active">
        <mat-icon class="nav__icon">event</mat-icon>
        <span class="nav__name">Reservar en Línea</span>
    </a>

    <a mat-button routerLink="contactenos" class="nav__link" routerLinkActive="active">
        <mat-icon class="nav__icon">mail</mat-icon>
        <span class="nav__name">Contáctenos</span>
    </a>

</div>

