

<div class="sidebar">

    <a mat-button routerLink="inicio" class="nav__link" routerLinkActive="active">
        <mat-icon name="folder-outline" class="nav__icon">description</mat-icon>
        <span class="nav__name">Inicio</span>
    </a>

    <a mat-button routerLink="sobre-nosotros" class="nav__link" routerLinkActive="active">
        <mat-icon name="folder-outline" class="nav__icon">description</mat-icon>
        <span class="nav__name">Sobre nosotros</span>
    </a>
    <a mat-button routerLink="facilidades" class="nav__link" routerLinkActive="active">
        <mat-icon name="folder-outline" class="nav__icon">description</mat-icon>
        <span class="nav__name">Facilidades</span>
    </a>
    <a mat-button routerLink="como-llegar" class="nav__link" routerLinkActive="active">
        <mat-icon name="folder-outline" class="nav__icon">description</mat-icon>
        <span class="nav__name">Cómo llegar?</span>
    </a>
    <a mat-button routerLink="tarifas" class="nav__link" routerLinkActive="active">
        <mat-icon name="folder-outline" class="nav__icon">description</mat-icon>
        <span class="nav__name">Tarifas</span>
    </a>
    <a mat-button routerLink="reservar-en-linea" class="nav__link" routerLinkActive="active">
        <mat-icon name="folder-outline" class="nav__icon">description</mat-icon>
        <span class="nav__name">Reservar en Línea</span>
    </a>
    <a mat-button routerLink="contactenos" class="nav__link" routerLinkActive="active">
        <mat-icon name="folder-outline" class="nav__icon">description</mat-icon>
        <span class="nav__name">Contactenos</span>
    </a>
</div>
