
.sidebar{
    
    padding: 8px;
    border-radius: 15px;
   display: flex;
   flex-direction: column;

   margin-bottom: 20px;

   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  

  
}



a{
  text-decoration: none;


}

  
.nav__link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    padding: .50rem .75rem;
    color: var(--text-color);
    border-radius: .5rem;
    /* margin-bottom: 1rem; */
    margin-bottom: 5px ;
    transition: .3s;
    cursor: pointer;
}
  
 
  
  .nav__link:hover{
    background: linear-gradient(135deg, #00c1e2, #00eaf2, #00fafd);
    background: linear-gradient(to right, #2c3e50, #2c3e50);
    color: white;
  }
  .nav__icon{
    font-size: 1.25rem;
  }
  .nav__name{
    font-size: var(--small-font-size);
  }
  
 

  /*Active links menu*/
  .active {
    background: linear-gradient(135deg, #00c1e2, #00eaf2, #00fafd);
    background: linear-gradient(to right, #394e63, #34495e);
    color: white;
}


  
  